<header>
  <mat-toolbar color="primary">
    <!-- Home -->
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>home</mat-icon>
    </button>

    <span class="separator"></span>

    <!-- Logged-in user routes -->
    @if (authService.isLoggedIn()) {
      <a mat-flat-button color="primary" [routerLink]="['/my-teams']">
        My Teams
      </a>
      |
    }

    <!-- Admin-only routes -->
    @if (authService.isAdmin()) {
      <a mat-flat-button color="primary" [routerLink]="['/admin-teams']">
        Admin Teams
      </a>
      |
      <a mat-flat-button color="primary" [routerLink]="['/team-members']">
        Team Members
      </a>
      |
    }

    <!-- Auth actions -->
    @if (authService.isLoggedIn()) {
      <a mat-flat-button color="primary" (click)="authService.logout()">
        Logout
      </a>
    }
    @else {
      <a mat-flat-button color="primary" [routerLink]="['/login']">
        Login
      </a>
    }
  </mat-toolbar>
</header>

